---
http_interactions:
- request:
    method: get
    uri: https://keybase.io/_/api/1.0/dump/all.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"1551889683\""
    body:
      encoding: UTF-8
      string: |-
        {
          "status": {
            "code": 0,
            "name": "OK"
          },
          "guest_id": "2fd081a0858e08c4cf1fb2a3852ac308",
          "dumps": [
            {
              "dump_id": "4ab04eda5342ffe56b20a40e",
              "full_data": "https://s3.amazonaws.com/keybase_data_dumps/2014-03-25-08-24-44--4ab04eda5342ffe56b20a40e.json",
              "full_data_sha256": "6a9d8c1c0c13b78a340a1aedbad54c84f923c0b70c44a7b5aa2568ebb58f5e46",
              "parent_dump_id": "a4755a74a83d608737bad10e",
              "changes_from_parent": "https://s3.amazonaws.com/keybase_data_dumps/2014-03-25-08-24-44--4ab04eda5342ffe56b20a40e--changes.json",
              "changes_sha256": "95a7eab39f7e6ac17fca663e44773a2ec7dc0d516daef0b2d543d2937fbf4bb6",
              "ctime": 1395750318
            },
            {
              "dump_id": "a4755a74a83d608737bad10e",
              "full_data": "https://s3.amazonaws.com/keybase_data_dumps/2014-03-25-08-17-29--a4755a74a83d608737bad10e.json",
              "full_data_sha256": "0fc0e77910d3f545e8c493c899728d0d4482fcedbb5d29c017d739b520ac065f",
              "parent_dump_id": "0fced1fc4c1709890961140e",
              "changes_from_parent": "https://s3.amazonaws.com/keybase_data_dumps/2014-03-25-08-17-29--a4755a74a83d6087[...]
