---
http_interactions:
- request:
    method: get
    uri: https://keybase.io/_/api/1.0/user/lookup.json?username=d8dw9sfu83u39229i9fewdsi0-fdsii-i
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"1429877151\""
    body:
      encoding: UTF-8
      string: |-
        {
          "status": {
            "code": 100,
            "desc": "missing or invalid input",
            "fields": {
              "username": "invalid name"
            },
            "name": "INPUT_ERROR"
          }
        }
  recorded_at: Sun, 16 Mar 2014 19:59:05 GMT
recorded_with: VCR 2.8.0
