---
http_interactions:
- request:
    method: get
    uri: https://keybase.io/_/api/1.0/user/lookup.json?username=foofoofooofo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"1066671616\""
    body:
      encoding: UTF-8
      string: |-
        {
          "status": {
            "code": 205,
            "desc": "user not found foofoofooofo",
            "name": "NOT_FOUND"
          },
          "guest_id": "d9a051d871f3ca390e49852366e50c08",
          "csrf_token": "lgHZIGQ5YTA1MWQ4NzFmM2NhMzkwZTQ5ODUyMzY2ZTUwYzA4zlMl5U3OAAFRgMDEIBtOX1pI1pnSiI+0op+vru11ag2myj2lQotitpFvXj/1"
        }
  recorded_at: Sun, 16 Mar 2014 17:54:28 GMT
recorded_with: VCR 2.8.0
